
/*****header********/
header{
    background-color: black;
    color: white;
    height:50px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
h1{
    text-align: center;
}
/********container********/
.container{
    display:flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
}
.profile-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    border: 3px solid black;
    padding:10px;
    height:200px;
    width: 50px;
}
img{
    height:80px;
    width:80px;
    padding-bottom: 10px;
}
/*******posts***************/
.posts{
    flex:2;
}

.post{
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid black;
    display: flex; 
    flex-direction: column;
   
    
}
.like{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: goldenrod;
    box-shadow: 4px 4px black;
    border: 1px solid black;
    width:60px;
    height:30px;
   
}

